<?xml version="1.0" ?>
<robot name="wall">
  <link name="world"/>
  <link name="testbed">
    <collision name="collision">
      <geometry>
        <mesh filename="package://abb_irb6640_support/meshes/Scene/testbed_new.stl"/>
      </geometry>
    </collision>
    <visual name="visual">
      <geometry>
        <mesh filename="package://abb_irb6640_support/meshes/Scene/testbed_new.stl"/>
      </geometry>
      <material name="DarkGrey">
        <color rgba="0.7 0.7 0.7 0.5"/>
      </material>
    </visual>
  </link>
  
  <joint name="joint" type="fixed">
    <parent link="world"/>
    <child link="testbed"/>
    <origin rpy="0 0 -1.57" xyz="1.0 -0.94 0.32"/>
  </joint>
  
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
